doctype html
html(ng-app="ftpgui")
  head
    title FTP Coolworking
    link(rel='stylesheet', href='stylesheets/style.css')
    script(src='javascripts/angular.js')
    script(src='javascripts/all.min.js')
    style.
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
  body
    block content